.Search{
    grid-area: Search;
}

#SearchLabel{
    color: #0d71bb;
    font-weight: bold;
}

#Search{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

#Search:focus{
    box-shadow: 0 0 5px rgba(13,113,187, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(13,113,187, 1);
}